/* ==================================================================
   Two Column
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.two-column {
  display: flex;

  @media (--bp-med) {
    display: block;
  }
}

.iphone {
  height: 500px;
  position: absolute;
  right: -118px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  @media (--bp-med) {
    position: relative;
    right: 0;
    transform: translateY(0);
    top: 0;
  }
}
