/* ==================================================================
   Two Column
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.two-column {
  display: flex;

  @media (--bp-med) {
    display: block;
  }
}

.iphone-wrap {
  position: absolute;
  right: -118px;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;

  @media (--bp-med) {
    display: block;
    margin-top: 40px;
    position: relative;
    right: 0;
    transform: translateY(0);
    top: 0;
  }
}

.iphone {
  height: 500px;

  @media (--bp-med) {
    display: block;
    margin: 0 auto;
  }
}
