/* ==================================================================
   Select business
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.select-business {
  background: var(--color-mischka);
  padding: 40px 0;
}

.inner {
  composes: inner from '../Message/Message.css';
}
