/* ==================================================================
   Venn
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.venn-wrap {
  margin-top: 60px;
  position: relative;
}

.venn {
  background: rgba(255, 255, 255, .9);
  border-radius: 100%;
  box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.6);
  height: 200px;
  position: relative;
  width: 200px;
}

.available {
  color: var(--color-tundora);
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: 20px;
}

.matched {
  align-items: center;
  background: rgba(0,0,0,.3);
  border-radius: 100%;
  bottom: 40px;
  display: flex;
  font-size: 28px;
  height: 80px;
  justify-content: center;
  position: absolute;
  right: 20px;
  width: 80px;
}

.available-title,
.matched-title {
  border-bottom: 2px solid var(--color-white);
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}

.available-title {
  padding-right: 20px;
  position: absolute;
  left: -140px;
  top: 55px;

  @media (--bp-med) {
    margin-bottom: 30px;
    padding-right: 0;
    position: relative;
    left: 0;
    text-align: center;
    top: 0;
  }
}

.matched-title {
  padding-left: 20px;
  position: absolute;
  right: -240px;
  top: 110px;

  @media (--bp-med) {
    margin-top: 30px;
    padding-left: 0;
    position: relative;
    left: 0;
    text-align: center;
    top: 0;
  }
}
