@import "styles/colors";
@import "styles/grid";

:global {
  body {
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin: 0;
    background-color: var(--color-mine-shaft);
  }

  a {
    color: var(--color-white);
    text-decoration: none;

    &:visited,
    &:hover {
      color: var(--color-white);
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
  }

  em {
    font-style: normal;
    font-weight: 700;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;

    @media (max-width: 46.8em) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 10px;

    @media (max-width: 46.8em) {
      font-size: 21px;
      line-height: 30px;
    }
  }
}
