/* ==================================================================
   App
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

/* App
--------------------------------------------------*/
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* Globals
--------------------------------------------------*/
:global {
  html, body {
    height: 100%;
  }

  body {
    color: var(--color-outer-space);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 22px;
  }

  em {
    font-style: normal;
    font-weight: 700;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;

    @media (max-width: 46.8em) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 10px;

    @media (max-width: 46.8em) {
      font-size: 21px;
      line-height: 30px;
    }
  }

  /* Languages
  -------------------------------------------------- */
  .language-ar,
  .language-fa {
    direction: rtl;
    font-family: 'Nazanin';
  }
}
