/* ==================================================================
   Content
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.content {
  padding: 150px;
  position: relative;

  @media (--bp-med) {
    padding: 20px;
  }
}

.inner {
  margin-left: auto;
  max-width: 400px;
}

.narrow {
  padding: 150px 60px 150px 120px;

  @media (--bp-med) {
    padding: 20px;
  }
}

.right {
  text-align: right;
}
