/* ==================================================================
   Content
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.content {
  background-position: left top;
  background-size: cover;
  position: relative;
  height: calc(100vh - 70px);

  @media (--bp-med) {
    padding: 20px;
  }
}

.inner {
  max-width: 550px;
  padding: 30px;
  background-color: #fff;
  margin: 0 auto; 
}

.full {
  .inner {
    max-width: 100%;
  }
}

.narrow {
  padding: 80px 150px;

  @media (--bp-med) {
    padding: 20px;
  }
}

.right {
  text-align: right;

  @media (--bp-med) {
    text-align: left;
  }
}

.bgcolorwrap {
  background-color: rgba(0,0,0,.5);
  padding: 100px 0 0 0;
  height: calc(100vh - 170px);
}

/* Languages
-------------------------------------------------- */
:global .language-ar,
:global .language-fa {
  :local .content {
    transform: scaleX(-1);

    > div {
      transform: scaleX(-1);
    }
  }

  :local .inner {
    max-width: 100%;
  }
}
