/* ==================================================================
   About
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.content {
  margin: 100px auto;
  max-width: 770px;

  @media (--bp-med) {
    margin: 20px auto;
    padding: 20px;
  }
}
