/* ==================================================================
   Navigation
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.navigation {
  margin-left: auto;
  list-style: none;
  text-transform: uppercase;

  li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.03em;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.active {
  position: relative;

  &:after {
    background: var(--color-white);
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    bottom: -8px;
    width: 100%;
  }
}
