/* ==================================================================
   Navigation
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.navigation {
  margin-left: auto;
  list-style: none;
  text-transform: uppercase;

  @media (--bp-med) {
    margin-left: 0;
    margin-top: 20px;
  }

  li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 26px;
    letter-spacing: 0.03em;

    &:hover a {
      border-color: var(--color-white) !important;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    @media (--bp-med) {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    a {
      border-bottom: 3px solid rgba(0,0,0,0);
      padding-bottom: 5px;
      transition: border-color 200ms ease-in-out;
    }
  }
}

.active {
  border-color: var(--color-white) !important;
}
