/* ==================================================================
   Splash
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.title {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;

  @media (--bp-med) {
    font-size: 40px;
    line-height: 1.2;
  }
}

.text {
  color: var(--color-outer-space);
  letter-spacing: 0.002em;
  line-height: 1.5;
  text-align: center;
}

.header {
  background-color: #f8f8f8;
  text-align: center;
  margin: -30px -30px 30px;
}

.logo {
  max-width: 50%;
}