/* ==================================================================
   Splash
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.title {
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: var(--spacing-medium);

  @media (--bp-med) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.text p {
  text-align: left;
}

.logo {
  margin-bottom: var(--spacing-medium);
  max-width: 40%;
}

.buttoncontainer {
  display: flex;
  justify-content: center;

  > a:first-child {
    margin-right: var(--spacing-medium);

    @media (--bp-med) {
      margin-right: 0;
    }
  }

  @media (--bp-med) {
    flex-direction: column;
  }
}
