/* ==================================================================
   App preview
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.app {
  border: 1px inset rgba(0,0,0,.1);
  height: 450px;
  position: absolute;
  right: 8px;
  width: 215px;
  height: 365px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  @media (--bp-med) {
    display: block;
    margin: 0 auto;
    position: relative;
    right: 0;
    transform: translateY(0);
    top: 0;
  }
}
