/* ==================================================================
   Header
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.header {
  align-items: center;
  background: var(--color-alabaster);
  color: var(--color-black);
  display: flex;
  padding: 10px 40px;
  text-transform: uppercase;
  line-height: 12px;

  @media (--bp-med) {
    flex-direction: column;
    padding: 20px;
  }
}

.logo {
  height: 50px;
}
