/* ==================================================================
   ButtonLink
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.button {
  border: 3px solid var(--color-carnation);
  color: var(--color-carnation);
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out;

  &:hover {
    background: var(--color-carnation);
    color: var(--color-white);
  }
}
