/* ==================================================================
   ButtonLink
   ================================================================== */

@import "styles/colors";
@import "styles/sizes";

.button {
  border: 3px solid var(--color-lipstick);
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: all 200ms ease-in-out;
  background: var(--color-lipstick);

  &:hover {
    background: var(--color-lipstick);
    color: var(--color-white);
  }
}
