/* ==================================================================
   ImageVenn
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.image-venn {
  background-size: cover;
  background-position: center center;
  position: relative;

  img {
    max-width: 100%;
    vertical-align: top;
  }
}

.title {
  @media (--bp-med) {
    font-size: 28px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
  }
}

.overlay {
  background: rgba(46, 46, 46, .6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 120px;

  @media (--bp-med) {
    padding: 40px 0;
  }
}
