/* ==================================================================
   Message
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.message {
  background: var(--color-white);
  color: var(--color-black);
  justify-content: center;
  display: flex;
  font-size: 21px;
  line-height: 40px;
  padding: 80px 0;

  @media (--bp-med) {
    font-size: 21px;
    line-height: 30px;
    padding: 80px 20px;
  }
}

.inner {
  font-weight: 400;
  max-width: 900px;
  text-align: center;
}
