/* ==================================================================
   Message
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.message {
  justify-content: center;
  display: flex;
  font-size: 30px;
  line-height: 40px;
  padding: 100px 0;

  @media (--bp-med) {
    font-size: 21px;
    line-height: 30px;
    padding: 80px 20px;
  }
}

.inner {
  font-weight: 400;
  max-width: 870px;
  text-align: center;
}
