/* ==================================================================
   Message
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.message {
  justify-content: center;
  display: flex;
  font-size: 30px;
  line-height: 40px;
  padding: 100px 0;
}

.inner {
  font-weight: 400;
  max-width: 870px;
  text-align: center;
}
